@charset "utf-8";
* {
  font-family: 'Stylish', sans-serif;
}

.wrap {
  width: 700px;
  margin: 20px auto;
}

/* 상단 이미지 */

.img {
  margin: 10px 0 20px 0;
}

img {
  border-radius: 20px;
  width: 100%;
  margin-bottom: 30px;
}

/* 상품 설명 */

.tit1 {
  display: flex;
  width: 100%;
}

.tit-price {
  padding: 10px 0 0 20px;
}

.tit2 {
  margin-top: 20px;
  font-size: 25px;
}

/* 주문하기 */

.order {
  width: 700px;
  margin: 30px auto;
}

.order-tit {
  margin-bottom: 20px;
}



.btn {
  width: 100%;
}

.btn-primary {
  width: 100px;
  margin: 0 auto;
  font-size: 30px;
}